[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ibmcraftr"]
	path = ibmcraftr
	url = https://github.com/saitheinthantun/ibmcraftr
